<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
        <style type="text/css" media="screen">
        body {
            background-color: skyblue;
            text-decoration-color: white;
            font-size: 5em;
        }
    </style>
</head>

<body>
        <div>
            <h1>Increase</h1>
            <button></button>
            <h1>Decrease</h1>
            <button onclick="<%=increment(num1)%>">+1</button>
        </div>
</body>
</html>
